@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<G4S.Modules.Splitter.Models.Splitter>
<section class="row">

    <!-- First Element -->
    <div class="col col-xs-12 col-md-6">
        @Html.Sitecore().DynamicPlaceholder("left")
    </div>

    <!-- Second Element -->
    <div class="col col-xs-12 col-md-6">
        @Html.Sitecore().DynamicPlaceholder("right")
    </div>
</section>