<!--
	Options:

	data-overlay-style="(content || full)"
-->

<section class="swiper-container js-slider" data-overlay-style="<%= overlayStyle %>" data-pagination-label=<%= paginationLabel%>>
	<div class="swiper-wrapper slider-wrapper">
		<div class="swiper-slide slide js-slide swiper-lazy" data-background="https://picsum.photos/1600/800?image=0" data-label="Hello water">
			<div class="slide__content white">
				<h2>Gå trygt hjem efter skole hver dag med danmarks mest familievenlige alarmsystem</h2>
				<a class="btn" href="/private.html" title="Gå til private">Button text</a>
			</div>

			<div class="slide__complementary bg-primary white visible-lg-up" aria-label="complementary">
				<h3>Lorem Ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<h4>70 200 300</h4>
			</div>
		</div>
		<div class="swiper-slide slide js-slide swiper-lazy" data-background="https://picsum.photos/1600/800?image=2" data-label="Hello !">
			<div class="slide__content white">
				<h2>Gå trygt hjem efter skole hver dag med danmarks mest familievenlige alarmsystem</h2>
				<a class="btn" href="/private.html" title="Gå til private">Button text</a>
			</div>
		</div>
		<div class="swiper-slide slide js-slide swiper-lazy" data-background="https://picsum.photos/1600/800?image=3" data-label="Hello !!!!">
			<div class="slide__content white">
				<h2>Gå trygt hjem efter skole hver dag med danmarks mest familievenlige alarmsystem</h2>
				<a class="btn" href="/private.html" title="Gå til private">Button text</a>
			</div>
		</div>
	</div>

	<!-- Add Pagination -->
	<div class="slider-controls js-slider-controls">
		<button class="js-slider-button-prev slider-button" aria-label="Previous slide">
			<i class="icon icon-arrow-left"></i>
		</button>
		<div class="js-slider-pagination slider-pagination"></div>
		<button class="js-slider-button-next slider-button" aria-label="Next slide">
			<i class="icon icon-arrow-right"></i>
		</button>
	</div>

</section>
