<div class="video js-video <%= ratioClass %>" data-video-url="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" style="background-image:url('https://picsum.photos/1600/800?image=0')">
	<% if (overlay === true) { %>
		<div class="video-overlay js-video-overlay">
			<div class="content">
				<div class="row">
					<div class="col col-xs-10 col-xs-offset-1 col-md-6 white">
						<h2>Se filmen om hvordan G4S sikre danske hjem</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum minus vero ullam autem, id rerum, sint repellat adipisci unde iure debitis porro ratione labore praesentium itaque blanditiis incidunt quidem perspiciatis.
						</p>
					</div>
				</div>
			</div>
		</div>
	<% } %>
</div>
