footer{
	font-weight: bold;


	.logo{
		margin-top: -$spacing-base;
		margin-bottom: calc(#{$spacing-base} + 3px);
	}

	.entry-content > .col{
		padding-right: $spacing-base;
	}

	ul li{
		padding-top: $spacing-base*0.5;
		letter-spacing: letter-spacing($std-letter-spacing);
	}
}
