$default-time: .25s;
$default-ease: ease;

$header-height-mobile: 70px;

$overlay-color: rgba(#000, .25);

// mixin
@mixin backdrop($backgroundColor: $overlay-color) {
	&:after {
		transition: $default-time $default-ease;
		content: "";
		background-color: $backgroundColor;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 11;
	}
}

.col {
	background-size: cover;
	background-position: center center;
}

//HELPERS
.std-paddin--v {
	padding-top: $spacing-base;
	padding-bottom: $spacing-base;
}

.centered--v {
	display: flex;
	align-items: center;
	justify-content: center;
}

.par__equal-align{
	display: flex;
	flex-direction: row;
}


.equal-align{
	margin-top: auto;
}


