@mixin button-unstyled {
	appearance: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	background-color: transparent;
	color: inherit;
	&:focus {
		outline: 0;
	}
}

@mixin button-base(
	$padding-vertical: $button-padding-vertical,
    $padding-horizontal: $button-padding-horizontal,
    $transition: $button-transition
) {
	display: inline-block;
	vertical-align: middle;
	padding: $padding-vertical $padding-horizontal;
	transition: $transition;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin button-style(
	$bg: $button-bg,
    $color: $button-color,
    $hover-bg: $button-hover-bg,
    $hover-color: $button-hover-color,
    $active-bg: $button-active-bg,
    $active-color: $button-active-color,
    $border-width: $button-border-width,
    $border-color: $button-border-color,
    $border-radius: $button-border-radius
) {
	border: $border-width solid $border-color;
	border-radius: $border-radius;
	background-color: $bg;
	color: $color;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;

	span{
		position: relative;
		z-index: 1;
	}

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: none;
		background-color: $hover-bg;
		color: $hover-color;
	}

	&:active {
		background-color: $active-bg;
		color: $active-color;
	}

	&.bg-white{
		color: $primary-color;
		&:hover{
			color: white;
		}
	}

	&.bg-transparent{
		background-color: transparent !important;
	}
}
.bg-primary .btn{
	&:hover{
		background-color: white;
		color: $primary-color;
	}
}



@mixin button-disabled($disabled-opacity: $button-disabled-opacity) {
	&.disabled,
	&[disabled] {
		opacity: $disabled-opacity;
		cursor: default;
		pointer-events: none;
	}
}

@mixin button {
	@include button-base;
	@include button-style;
	@include button-disabled;
}

#{$button-selector} {
	@include button;
}

#{$button-selector}-circle {
	@include button;
	border-radius: 50%;
	padding: 0.75rem;
	font-size: to-rem(18px);
	line-height: to-rem(18px);
}

#{$button-selector}-square {
	@include button;
	border-radius: 0%;
	padding: 0.75rem;
	font-size: to-rem(18px);
}

button{
	@include button-unstyled;
}
