#{$table-selector} {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-weight: inherit;

	td,
	th {
		padding: $table-padding-vertical $table-padding-horizontal;
		vertical-align: top;
	}

	th {
		text-align: left;
	}

	thead {
		background-color: $table-border-color;

	}
	tfoot {
		border-top: 2px solid $table-stripe-bg;
	}

	thead th {
		text-transform: uppercase;
		vertical-align: bottom;
	}

	tbody tr + tr {
		border-top:1px solid $table-stripe-bg;
	}
}

.bg-primary #{$table-selector}{

	thead th{
		color: color('grey', 'grey-400');
	}
}
