// Utility Color Classes

$primary : (
    'base':       #EF3e42,
    'darken-1':   #cf0f28,
    'darken-2':   #9f0b1e,
    'darken-3':   #600,
);


$grey: (
	'base':      	#cccccc,
	'grey-100':  	#f5f5f5,
	'grey-200': 	#e5e5e5,
	'grey-300':  	#a6a6a6,
    'grey-400':  	#7f7f7f,
    'grey-dark':  	#333333,
);



$shades: (
  'dark'          : #28292f,
  'black'         : #000000,
  'white'         : #FFFFFF,
  'transparent'   : transparent
);


$colors: (
  'primary': $primary,
  'grey': $grey,
  'shades': $shades,
);


// usage: color('name_of_color', 'type_of_color')
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn 'Unknown `#{name}` in $colors.';
  @return null;
}
