@font-face {
  font-family: "Gill Sans";
  src: url('../fonts/GillSans-Light.eot');
  src: url('../fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans-Light.woff') format('woff'),
  url('../fonts/GillSans-Light.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url('../fonts/GillSans-LightItalic.eot');
  src: url('../fonts/GillSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans-LightItalic.woff') format('woff'),
  url('../fonts/GillSans-LightItalic.ttf')  format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url('../fonts/GillSans.eot');
  src: url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans.woff') format('woff'),
  url('../fonts/GillSans.ttf')  format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gill Sans";
  src: url('../fonts/GillSans-SemiBold.eot');
  src: url('../fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans-SemiBold.woff') format('woff'),
  url('../fonts/GillSans-SemiBold.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url('../fonts/GillSans-SemiBoldItalic.eot');
  src: url('../fonts/GillSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans-SemiBoldItalic.woff') format('woff'),
  url('../fonts/GillSans-SemiBoldItalic.ttf')  format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

//@font-face {
//  font-family: "Gill Sans";
//  src: url('../fonts/GillSans-Bold.eot');
//  src: url('../fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/GillSans-Bold.woff') format('woff'),
//  url('../fonts/GillSans-Bold.ttf')  format('truetype');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: "Gill Sans";
//  src: url('../fonts/GillSans-BoldItalic.eot');
//  src: url('../fonts/GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/GillSans-BoldItalic.woff') format('woff'),
//  url('../fonts/GillSans-BoldItalic.ttf')  format('truetype');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}

//@font-face {
//  font-family: "Gill Sans";
//  src: url('../fonts/GillSans-UltraBold.eot');
//  src: url('../fonts/GillSans-UltraBold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/GillSans-UltraBold.woff') format('woff'),
//  url('../fonts/GillSans-UltraBold.ttf')  format('truetype');
//  font-weight: bolder;
//  font-style: normal;
//  font-display: swap;
//}
//
