<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.Core" />
  <add name="master" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.Master" />
  <add name="web" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.Web" />
   <add name="xdb.referencedata" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.ReferenceData" />
   <add name="xdb.processing.pools" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.Processing.Pools" />
   <add name="reporting" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.Analytics" />
   <add name="xdb.processing.tasks" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.Processing.Tasks" />
  <add name="xdb.marketingautomation" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.MarketingAutomation" />
  <add name="experienceforms" connectionString="user id=G4SDev;password=g4sdev123456789;Data Source=g4sdev.westeurope.cloudapp.azure.com;Database=G4S_dev_Sitecore.ExperienceForms" />
  
  
  <add name="xconnect.collection" connectionString="https://Sitecore_xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
 
  <add name="xdb.referencedata.client" connectionString="https://Sitecore_xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue=" />
  
  <add name="reporting.apikey" connectionString="" />
  
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://Sitecore_xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue=" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://Sitecore_xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=CurrentUser;FindType=FindByThumbprint;FindValue=" />
  
</connectionStrings>