@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<G4S.Modules.AsideBox.Models.AsideBox>
<div class="bg-grey bg-grey-100">
    <div class="entry-content__grid text-center">
        <h3>@Editable(x => x.Title)</h3>
        @if (IsInEditingMode)
        {
            @Editable(x => x.Text)
        }
            else
            {
            <p>@Editable(x => x.Text)</p>
        }
        @RenderLink(Model, x => x.Link, new System.Collections.Specialized.NameValueCollection { { "class", "btn bg-grey bg-grey-dark" } }, true)
      
    </div>
</div>

