.btn-menu span
{
	display: block;
	width: 25px;
	height: 3px;
	margin-bottom: 5px;
	position: relative;
	background: color('grey', 'grey-dark');
	border-radius: 3px;
	z-index: 1;
	transform-origin: center center;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}


/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.show-menu-nav .btn-menu span {
	opacity: 1;
	transform: rotate(45deg) translate(-3px, -4px);
	background: #232323;
}

/*
 * But let's hide the middle one.
 */
.show-menu-nav .btn-menu span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.show-menu-nav .btn-menu span:nth-last-child(2) {
	transform: rotate(-45deg) translate(-2px, 2px);
}
