.service{
    border-bottom: 1px solid color('grey', 'base');

    &__types{
        .col{
            padding: $spacing-base*0.5;
            .entry-content{
                border-radius: 2px;
                border: 1px solid color('grey', 'base');
                padding: $spacing-base;
				flex-direction: column;
				width: 100%;
            }
        }
    }
}
