


.swiper-wrapper,
.swiper-slide {
	height: auto;
	min-height: to-rem(640px);

}

.swiper-container {
	&[data-overlay-style='full'] {
		.slide {
			@include backdrop(#000);
			&.swiper-lazy-loaded {
				&:after {
					background-color:$overlay-color;
				}
			}
		}
	}

	&[data-overlay-style='content'] {
		.slide {
			&__content {
				@include backdrop(#000);
				position: relative;
				z-index: 1;

				&:after {
					z-index: -1;
				}

				@include mq(lg) {
					max-width: percentage(5 / $grid-columns);
				}
			}

			&.swiper-lazy-loaded .slide {

				&__content:after {
					background-color:$overlay-color;
				}
			}
		}
	}
}

.slide {
	align-items: center;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;

	flex-grow: 1;
	align-items: stretch;

	@include mq(md){
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}

	&__content {
		position: relative;
		z-index: 12;
		padding: $spacing-base $spacing-base $spacing-base percentage(1 / $grid-columns);

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: start;

		@include mq(md){
			display: block;
		}

		@include mq(md) {
			max-width: percentage(10 / $grid-columns);
		}

		@include mq(lg) {
			max-width: percentage(8 / $grid-columns);
		}
	}

	&__complementary {
		transition: 450ms ease 0.5s;
		opacity: 0;
		transform: translateX(25%);
		position: absolute;
		z-index: 12;
		right: 0;
		padding: $spacing-base*1.5;
	}

	&.swiper-slide-active {
		.slide__complementary {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.swiper-container[data-pagination-label="false"] {
	.slide__complementary {
		bottom: ($button-padding-vertical + 1.5);
	}
}

.swiper-container[data-pagination-label="true"] {
	.slide__complementary {
		bottom: (($button-padding-vertical * 2) + 1.4);
	}
}

.slider-controls {
	background-color: color('primary', 'base');

	display: flex;
	justify-content: center;
	padding: $font-size-base;

	width: 100%;


	@include mq(md) {
		bottom: 0;
		position: absolute;
		z-index: 2;
	}

	.slider-button {
		@include button-unstyled;
		outline: none;
		color: #fff;
		&.swiper-button-disabled {
			opacity: $button-disabled-opacity;
			cursor: default;
			pointer-events: none;
		}
	}

	.slider-pagination {
		margin:0 ($font-size-base * 2);
		display: flex;
		align-items: center;
	}

	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background-color: #fff;

		& + .swiper-pagination-bullet {
			margin-left: $font-size-base;
		}
	}

	&--labels {
		@include text-hide;
	}

	@include mq(md) {
		&--labels {
			background-color: transparent;
			padding: 0;

			// TODO Remove buttons from markup in .
			.slider-button {
				display: none;
			}

			.slider-pagination {
				margin: 0;
				width: 100%;
			}

			.swiper-pagination-bullet{
				background-color: rgba(#fff, 0.7);
				border-radius: 0;
				flex: 1;
				font-weight: 600;
				height: auto;
				opacity: 1;
				position: relative;
				text-align: center;
				text-transform: uppercase;
				width: auto;
			 	padding: $button-padding-vertical $button-padding-horizontal;
				text-indent: 0;
				color: #000;

				& + .swiper-pagination-bullet {
					margin-left: 0;

					&:before {
						background-color: rgba(#000, 0.2);
						bottom: $button-padding-vertical;
						content:"";
						display: block;
						left: 0;
						position: absolute;
						top: $button-padding-vertical;
						width: 1px;
					}
				}

				&-active {
					background-color: color('primary', 'darken-1');
					color: white;
				}
			}
		}
	}
}
