body {
  overflow-y: auto !important;
  overflow-x: hidden;
}

.sc-globalHeader-content {
  max-width: none;
}

div.container-narrow .sc-globalHeader {
  position: relative;
}

.sc-ribbon {
  background-color: #fafafa;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.sc-ribbon .sc-strip {
  display: none;
  min-height: 91px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.sc-ribbon .sc-strip:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sc-ribbon .sc-strip:first-child {
  display: block;
}
.sc-ribbon .sc-strip-label {
  display: none;
}
.sc-ribbon .sc-chunk {
  padding: 1em .5em .25em;
  text-align: center;
  position: relative;
  white-space: nowrap;
  display: inline-block;
}
.sc-ribbon .sc-chunk:after {
  content: "";
  position: absolute;
  top: 1%;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #e3e3e3;
}
::-webkit-scrollbar-thumb {
  background: #f7f7f7;
}
.sc-ribbon .sc-chunk-button-list:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sc-ribbon .sc-chunk-button-list ul {
  width: auto;
  list-style: none;
  background: #fafafa;
  border: 1px solid #cbcdd1;
  position: absolute;
  left: 3em;
  top: 2em;
  padding: 0.3em 2em;
  margin: 0;
  text-align: left;
  z-index: 999;
}
.sc-ribbon .sc-chunk-button-list ul span {
  padding: 0 0 0 0.5em;
}
.sc-ribbon .sc-chunk-button-list ul a {
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}
.sc-ribbon .sc-chunk-button-list span {
  color: #2B2B2B;
}
.sc-ribbon .sc-chunk-button-list .sc-chunk-check-list div {
  height: 51px;
  max-height: 51px;
}
.sc-ribbon .sc-chunk-button,
.sc-ribbon .sc-chunk-button-dropdown,
.sc-ribbon .sc-chunk-gallerybutton {
  cursor: pointer;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  margin: .3em .5em;
  padding: .5em;
  border: 1px solid transparent;
}
.sc-ribbon .sc-chunk-button:hover,
.sc-ribbon .sc-chunk-button-dropdown:hover,
.sc-ribbon .sc-chunk-gallerybutton:hover {
  /*border: 1px solid #cccccc;*/
  /*background: #f2f4f8;*/
  /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
  background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
  background: -o-linear-gradient(#eef1f6, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);*/
  background-color: #E3E3E3;
  text-decoration: none;
}
.sc-ribbon .sc-chunk-button-small {
  cursor: pointer;
  display: block;
  padding: .3em .5em;
  border: 1px solid transparent;
  padding: .5em;
}
.sc-ribbon .sc-chunk-button-small:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sc-ribbon .sc-chunk-button-small:hover {
  /*border: 1px solid #cccccc;*/
  background: #E3E3E3;
  /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
  background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
  background: -o-linear-gradient(#eef1f6, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);*/
  text-decoration: none;
}
.sc-ribbon .sc-chunk-button-small img {
  float: left;
  margin: 0 .4em 0 0;
}
.sc-ribbon .sc-chunk-button-small .sc-chunk-button-label {
  float: left;
}
.sc-ribbon .disabled {
  opacity: .4;
  cursor: default;
}
.sc-ribbon .disabled:hover {
  border-color: transparent;
  background: transparent;
}
.sc-ribbon .disabled img {
  -webkit-filter: grayscale(1);
}
.sc-ribbon .pressed {
  /*border: 1px solid #cccccc;
  background: #dee4ed;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #cdd6e4));
  background: -ms-linear-gradient(bottom, #f2f2f2, #cdd6e4);
  background: -moz-linear-gradient(center bottom, #f2f2f2 0%, #cdd6e4 100%);
  background: -o-linear-gradient(#cdd6e4, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdd6e4', endColorstr='#f2f2f2', GradientType=0);*/
  background-color: rgb(208, 235, 246);
}
.sc-ribbon .sc-chunk-button-label {
  display: block;
}
.sc-ribbon .sc-chunk-label {
  margin: 0;
  font-size: 1em;
  color: #999999;
  line-height: 1.5em;
}
.sc-ribbon .sc-chunk-check-list,
.sc-ribbon .sc-chunk-button-small-list {
  display: block;
  float: left;
  min-height: 62px;
}
.sc-chunk-button-small-list {
  margin-top: -3px;
  margin-bottom: 3px;
}
.sc-ribbon .sc-chunk-check-small {
  display: block;
  padding: .3em .5em;
  border: 1px solid transparent;
  margin-top: -1px;
  margin-bottom: 1px;
}
.sc-ribbon .sc-chunk-check-small:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sc-ribbon .sc-chunk-check-small input[type="checkbox"] {
  float: left;
  margin-top: .2em;
}
.sc-ribbon .sc-chunk-check-small label {
  float: left;
}
.sc-ribbon .sc-chunk-panel {
  cursor: pointer;
  display: block;
  float: left;
  margin: .3em .5em;
  padding: .4em;
  padding-left: 1px;
  padding-right: 1px;
  height: 55px;
  border: 1px solid #cccccc;
  background: #fff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
}
.sc-ribbon .sc-chunk-datepanel a {
  display: block;
  float: left;
  text-decoration: none;
}
.sc-ribbon .sc-chunk-datepanel span {
  float: left;
}
.sc-chunk-datepanel div {
  width: auto;
  margin-top: -0.3em;
  height: 51px;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-monthyear {
  float: left;
  width: 7em;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  font-weight: bold;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-monthyear span {
  float: none;
  margin-right: 4px;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-changedate {
  cursor: pointer;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border: 1px solid transparent;
  margin-top: -0.3em;
  height: 51px;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-changedate div.sprite-speak-ribbon-clean-ee {
  margin-top: 7px;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-changedate:hover {
  /*border: 1px solid #cccccc;
  background: #f2f4f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
  background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
  background: -o-linear-gradient(#eef1f6, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
  */
  background: #E3E3E3;
  text-decoration: none;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-datetime {
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  /*margin: 0 .5em;*/
  border: 1px solid transparent;
  float: left;
  text-align: left;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-datetime:hover {
  /*border: 1px solid #cccccc;
  background: #f2f4f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
  background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
  background: -o-linear-gradient(#eef1f6, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
  */
  background: #E3E3E3;
  text-decoration: none;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-day {
  display: none;
  font-size: 3.2em;
  padding: 0 0.4em;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-date {
  font-size: 3.4em;
  /*padding: 0.3em 0;*/
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-time {
  font-size: 2em;
  padding: 0.3em;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-timedesignator {
  font-size: 50%;
}

.OptionTitle {
  margin-left: 10px;
}

.sc-simpleCommand, .sc-commandDependency {
  display: none;
}.sc-quickbar {
  padding: 0 1em;
  background-color: #474747;
  background: #474747;
  /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7f7f7), color-stop(1, #ebebeb));
  background: -ms-linear-gradient(bottom, #f7f7f7, #ebebeb);
  background: -moz-linear-gradient(center bottom, #f7f7f7 0%, #ebebeb 100%);
  background: -o-linear-gradient(#ebebeb, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f7f7f7', GradientType=0);*/
  line-height: 1.5;
}
.sc-quickbar:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sc-quickbar-item {
  display: block;
  float: left;
  margin-left: .25em;
  padding: .5em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.sc-quickbar-item.sc-alternate-position {
  float: right;
  margin-right: .25em;
  margin-left: 0;
}
.sc-quickbar-item img {
  vertical-align: middle;
}
.sc-quickbar-button {
  margin: .25em 0;
  min-width: 20px;
  border: 1px solid transparent;
  background: #fafafa;
  height: 33px;
}
[data-sc-id="QuickRibbon"].sc-quickbar-button,
[data-sc-id="QuickRibbon"].sc-quickbar-button:hover {
  background: transparent;
}
.sc-quickbar-button:hover {
  background: rgb(227, 227, 227);
}
.sc-quickbar-button.disabled {
  opacity: .4;
  cursor: default;
}
.sc-quickbar-tab {
  margin-top: .25em;
  margin-bottom: -2px;
  padding: 8px 1.25em .75em;
  border: 1px solid #cccccc;
  border-color: transparent;
  text-decoration: none;
}
.sc-quickbar-tab:hover {
  text-decoration: none;
  color: #2B2B2B;
  background-color: rgb(227, 227, 227);
}
.sc-quickbar-tab.sc-quickbar-tab-selected {
  border: 1px solid transparent;
  background-color: #fafafa;
  color: #2B2B2B;
}.scStripHeaderBage
{
  position: relative;
  background-color:#e33327;
  color: White !important;  
  top: -4px; 
  height: 10px;
  line-height:10px;
  font-size: 75%;
  padding: 0px 2px;  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;    
}.panelContentContainer {
  height: 100%;
  font-size: 11px;
  overflow-y: hidden;
  float: left;
  width: 280px;
  margin-left: 0.5em;
}

.panelCommandButtonsContainer {
  position: relative;
  float: left;
  width: 20px;
  height: 100%;
  margin-right: .4em;
}

.showPanelButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.showPanelButton,
.scRibbonPanelUp,
.scRibbonPanelDown {
  border: none;
  display: block;
  cursor: pointer;
  padding: 0 2px;
}

.showPanelButton:hover,
.scRibbonPanelUp:hover,
.scRibbonPanelDown:hover {
  background: #ccc;
}.sc-chunk-check-small-label {
  font-weight: normal;
  margin-left: 4px;
}.sc-breadcrumb
{
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7f7f7), color-stop(1, #ebebeb));
  background: -ms-linear-gradient(bottom, #f7f7f7, #ebebeb);
  background: -moz-linear-gradient(center bottom, #f7f7f7 0%, #ebebeb 100%);
  background: -o-linear-gradient(#ebebeb, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f7f7f7', GradientType=0);
  border-bottom: 1px solid #cccccc;
  padding: 0 1em;
}

#breadcrumbMenuSubcontrol_context_menu nav.sc-breadcrumb{
  height: auto;
  max-height: 50vh;
}

nav.sc-breadcrumb {
  height: 50px;
}

  .sc-breadcrumb:after
  {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

a.scContentButton
  {
    color: #DC291E;
    white-space: nowrap;
    display: inline-block;
    padding: 4px 5px 0 5px;
  }

.scContentButton:first-child
  {
    padding-left: 0;
  }

.scContentButton:last-child
  {
    border-right: 0 !important;
  }

a.scContentButton:hover, a.scContentButton:active
    {
      text-decoration: underline;
      background: none;
      border: 0;
    }

a.scContentButtonDisabled
  {
    color: #999999;
    cursor: default;
  }

  .sc-breadcrumb .sc-breadcrumb-item
  {
    float: left;
    padding: .2em .5em .5em 0;
    text-decoration: none;
  }

    .sc-breadcrumb .sc-breadcrumb-item:after
    {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

  .sc-breadcrumb .sc-breadcrumb-item-action,
  .sc-breadcrumb .sc-breadcrumb-item-path
  {
    display: block;
    float: left;
    border: 1px solid transparent;
    padding: .25em;
    text-decoration: none;
    color: #2B2B2B;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    margin-top: 0.3em;
  }

  #breadcrumbMenuSubcontrol_context_menu .sc-breadcrumb .sc-breadcrumb-item-path{
    padding: 5px 5px 5px 5px;
    margin-top: 0;
  }

  #navigationTreeViewButton {
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    margin-top: 0.3em;
  }

    .sc-breadcrumb-item-rectangle,
    .sc-breadcrumb .sc-breadcrumb-item-action:hover,
    .sc-breadcrumb .sc-breadcrumb-item-path:hover
    {
      background: #f2f4f8;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
      background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
      background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
      background: -o-linear-gradient(#eef1f6, #fcfcfc);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
      border: 1px solid #cbcdd1;
    }

      .sc-breadcrumb-item-rectangle img
      {
        padding-right: 4px;
      }

.sc-breadcrumb-item-path.disabled
{
  opacity: .4;
  cursor: default;
}

.sc-breadcrumb-item-button
    {
      display: inline-block;
      padding: 3px;
      margin-left: 7px;
      border: 1px solid rgba(0,0,0,0);
    }

    .sc-breadcrumb-item-button:hover
    {
      border-color: #cbcdd1;
    }
.scEnabledChromeComponentTest {
    border-color: red;
    border-style: solid;
}

.scEnabledChromePersonalizationTest {
    border-color: red;
    border-style: solid;
}

.scEnabledChromePageVersionTest {
    border-color: red;
    border-style: solid;
}.highlight {
  color: #dc1e11;
}
div[id="testStatus"] {
  cursor: default;
}
.optimization-indicator {
  float: right;
  width: 12px;
  height: 12px;
  background-color: #dc1e11;
  border-radius: 6px;
  margin: 3px;
}
.sprite-speak-ribbon-clean-ee {
  background: url('/sitecore/shell/client/Sitecore/Speak/Ribbon/Assets/Sprites/Ribbon/sprite-speak-ribbon-clean-ee.png') no-repeat top left; 
  display: inline-block; 
  vertical-align: middle;
} 
.sc-quickbar-button .sprite-speak-ribbon-clean-ee {
  opacity: initial;
  float: none;
}

.sprite-speak-ribbon-clean-ee.small { float: left; margin: 0 .4em 0 0; }

.sprite-speak-ribbon-clean-ee.window_earth_24 { background-position: 0px -0px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.arrow_fork { background-position: 0px -34px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.navigate_right_32 { background-position: 0px -60px; width: 32px; height: 32px; }
.sprite-speak-ribbon-clean-ee.small.active_test_24 { background-position: 0px -102px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.step_24 { background-position: 0px -128px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.floppy_disk { background-position: 0px -162px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.megaphone_24 { background-position: 0px -188px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.view_locked_documents { background-position: 0px -222px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.magnifying_glass { background-position: 0px -248px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.floppy_disk { background-position: 0px -274px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.small.navigate_down { background-position: 0px -300px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.small.add_version { background-position: 0px -326px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.edit_24 { background-position: 0px -352px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.insert_from_template { background-position: 0px -386px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.data_copy_24 { background-position: 0px -412px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.navigate_up { background-position: 0px -446px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.note_block_24 { background-position: 0px -472px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.page_test_24 { background-position: 0px -506px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.navigate_left_32 { background-position: 0px -540px; width: 32px; height: 32px; }
.sprite-speak-ribbon-clean-ee.publishing_restrictions_24 { background-position: 0px -582px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.camera_24 { background-position: 0px -616px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.graph_24 { background-position: 0px -650px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.preview_24 { background-position: 0px -684px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.signal_flag_checkered_24 { background-position: 0px -718px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.personalization_24 { background-position: 0px -752px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.document_header { background-position: 0px -786px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.separator_7 { background-position: 0px -812px; width: 7px; height: 7px; }
.sprite-speak-ribbon-clean-ee.flag_generic_24 { background-position: 0px -829px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.close_24 { background-position: 0px -863px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.monitor_device_24 { background-position: 0px -897px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.delete { background-position: 0px -931px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.small.text_field { background-position: 0px -957px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.elements_branch { background-position: 0px -983px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.item_lock_24 { background-position: 0px -1009px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.masks_24 { background-position: 0px -1043px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.close { background-position: 0px -1077px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.debug_24 { background-position: 0px -1103px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.reset_layout_24 { background-position: 0px -1137px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.test_result_24 { background-position: 0px -1171px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.layout_details_24 { background-position: 0px -1205px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.download { background-position: 0px -1239px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.elements_branch_24 { background-position: 0px -1265px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.windows_24 { background-position: 0px -1299px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.suggested_test_24 { background-position: 0px -1333px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.optimization_view_24 { background-position: 0px -1359px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.elements_tree { background-position: 0px -1393px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.monitor_24 { background-position: 0px -1419px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.stopwatch2_24 { background-position: 0px -1453px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.insert_from_template_24 { background-position: 0px -1487px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.move_to { background-position: 0px -1521px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.remove_version_24 { background-position: 0px -1547px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.markup_24 { background-position: 0px -1581px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.validation_rules_24 { background-position: 0px -1615px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.reset_fields_24 { background-position: 0px -1649px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.publish_24 { background-position: 0px -1683px; width: 24px; height: 24px; }
.sprite-speak-ribbon-clean-ee.small.compare_versions { background-position: 0px -1717px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.small.historical_test_24 { background-position: 0px -1743px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.delete { background-position: 0px -1769px; width: 16px; height: 16px; }
.sprite-speak-ribbon-clean-ee.window_dialog_24 { background-position: 0px -1795px; width: 24px; height: 24px; }

